.overlayContainer
  height: 100vh
  .brb
    color: white
    font-size: 260px
    text-align: center

  h1, p
    color: green

  .todaysGoalsContainer
    width: 500px
    float: right
    margin: 600px 200px 0 0
    color: white
    background: rgba(0,0,0, 0.5)
    li
      font-size: 30px
